@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar {
    scrollbar-width: thin;
  }

  .scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  .scrollbar::-webkit-scrollbar-track {
    background-color: white;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: gray;
  }
}

.fc-h-event .fc-event-main-frame {
  flex-direction: column;
}

.fc .fc-button-primary {
  background-color: #003d7e !important;
  border-color: #003d7e !important;
}

.fc-event .fc-event-main {
  padding-inline: 4px;
  padding-block: 1px;
}

.fc .fc-daygrid-event-harness {
  margin-block: 3px;
}

.fc-daygrid-block-event .fc-event-title {
  padding: 1px;
  white-space: pre-wrap;
}

td.fc-list-event-time {
  font-family: 'Roboto Mono';
  font-weight: 500;
  letter-spacing: -0.75px;
}
